<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-auto mr-auto">West Coast Cigars <%= Time.now.year %></div>
      <div class="col-auto">Written By: Tek Hudson</div>
    </div>
  </div>
</footer>
